html{
    width: 100%;   
     
    }
    body{ 
    background:
    /* top, transparent black, faked with gradient */ 
    linear-gradient(
      rgba(0, 0, 0, 0.7), 
      rgba(0, 0, 0, 0.7)
    ),
    /* bottom, image */
    url(https://images3.alphacoders.com/106/1068690.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    }
    h1.alma3{
        color: aliceblue;   
        font-family: initial;
        letter-spacing: 4px;
        float: left;  
     }
     .flex{
        display: flex; 
        width: 100%;
        justify-content: space-around;
        text-align: center;
      }
      .item {
        flex-grow: 1;
        color: aliceblue; 
        font-size: initial;  
      }
      #image{
        background-image: url(https://steamuserimages-a.akamaihd.net/ugc/998053608223449222/A1A0320486D641AAF3EA1839927FF6D9F35FEEEB/?imw=512&&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false);
        width: 27rem;
        height: 30rem;
        background-position:center; 
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;   
        border: black 1px solid;
      }
      #image2{
        background-image: url(https://media.vandal.net/i/1200x630/8-2018/201882713175_1.jpg);
        width: 24rem;
        height: 30rem;
        background-position: center; 
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        border: black 1px solid;
      }
      #image3{
        background-image: url(https://static.wikia.nocookie.net/bloodborne/images/d/da/Gehrman%2C_the_First_Hunter_concept_art_1.jpg/revision/latest?cb=20180728123257);
        width: 27rem;
        height: 30rem;
        background-position: center; 
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        border: black 1px solid;
      }
      
      #image4{
        background-image: url(https://i.ytimg.com/vi/CmvdeJEsuhc/maxresdefault.jpg);
        width: 27rem;
        height: 30rem;
        background-position:center; 
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;   
        border: black 1px solid;
      }
      
      #image5{
        background-image: url(https://pbs.twimg.com/media/DtcZLBqUwAAEzfY.jpg);
        width: 24rem;
        height: 30rem;
        background-position: center; 
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        border: black 1px solid;
      }
      #image6{
        background-image: url(https://i1.sndcdn.com/artworks-000148051073-0n4neh-t500x500.jpg);
        width: 27rem;
        height: 30rem;
        background-position: center; 
        position: relative;
        background-repeat: no-repeat;
        background-size: cover;
        border: black 1px solid;
      }